main {
  padding-top: 12.8rem !important;
}

.flight-search-container {
  background-image: linear-gradient(to bottom, #eaf5ff, #eaf5ff);
  background-repeat: no-repeat;
  background-size: 100% 38%;
}
.search-tab-container {
  justify-content: space-around;
  padding-bottom: 1rem;
}
.search-tab .newsletter-img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.9rem;
}
.search-tab .search-icon {
  margin-right: 0.5rem;
}

.search-tab .font18 {
  font-weight: 600;
  font-size: 2rem;
}
.hero-slider-section {
  width: 120rem;
  margin: 3rem auto 2rem;
}
.hero-slider-section .heroBannerImage {
  background-color: #ebf6ff;
  background-repeat: no-repeat;
  background-size: contain;
  height: 320px;
  outline: none;
  width: 100%;
}
.slick-dots {
  display: flex !important;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: #9b9b9b;

  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #008cff;
}
