.flight-search-container {
  margin: 8rem 15rem 0;
  background-color: #fff;
  border-radius: 1rem;
  padding: 6.4rem 2rem 4rem;
  position: relative;
  .radio-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 2rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    &.active {
      background: #eaf5ff;
      border-radius: 8px;
      padding: 2px 1rem 2px 2rem;
    }
  }

  .radio-label input[type='radio'] {
    display: none;
  }

  .radio-label .fa-circle-check {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    display: none;
  }
  .radio-label .fa-circle,
  .radio-label .fa-circle-check {
    position: absolute;
    left: 0;
    top: 0.5rem;
    display: block;
    color: $color-gray2;
  }
  .radio-label .fa-circle-check {
    color: $color-primary;
    display: none;
  }

  .radio-label input[type='radio']:checked + .fa-circle-check {
    display: block;
  }
  .radio-label input[type='radio']:checked + .fa-circle {
    display: none;
  }
}
.journey-type-container {
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.flight-search-box {
  border: 1px solid #e7e7e7;
  border-radius: 0.8rem;
  height: 112px;
}
.flight-search-box .inner-box {
  padding: 1rem 1.6rem;
}
.flight-search-box > div:not(:last-child) {
  border-right: solid 1px #e7e7e7;
}
.box {
  &:hover {
    background: #eaf5ff;
  }
  &.from-box,
  &.to-box {
    width: 300px;
    position: relative;
  }
  &.to-box {
    padding-left: 1.6rem;
  }
  &.date-box,
  &.return-data-box {
    width: 158px;
  }
  &.travellers-no-box {
    width: 214px;
  }

  .text {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: $color-gray;
  }
  .place {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    min-width: 140px;
    max-height: 36px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    color: $color-black;
  }
  .airport-name {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-gray;
  }
  .date-no {
    font-weight: 900;
    line-height: 3.6rem;
    font-size: 3rem;
  }
  .data-rem {
    line-height: 3.6rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .pro-desc-text {
    color: #9b9b9b;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.6rem;
  }
}
.arrow-container {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: -22px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.arrow-icon {
  background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@21x.webp) !important;

  background-repeat: no-repeat;
  display: inline-block;
  background-size: 200px 650px;
  font-size: 0px;
  flex-shrink: 0;
  width: 15px;
  height: 11px;
  background-position: -149px -111px;
}
.fare-type-container {
  justify-content: space-between;
  margin-top: 1.4rem;
  // font-size: 1.4rem;
  // font-weight: 400;
}
.select-fare {
  line-height: 1.4rem;
  font-weight: 700;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.special-fare-list {
  position: relative;
  background: #f2f2f2;
  border-radius: 4px;
  li {
    line-height: 1.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    padding: 8px 8px 8px 26px;
    cursor: pointer;
    border-left: solid 1px #fff;
    display: flex;
    align-items: center;
    height: 45px;
    min-width: 80px;
    max-width: 134px;
    color: $color-gray;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: solid 1px #9b9b9b;
      display: flex;
      flex-shrink: 0;
      position: absolute;
      left: 8px;
    }
    &.active {
      background: #eaf5ff;
      &::before {
        background: #008cff;
        border-color: #008cff;
      }
      &::after {
        content: '';
        display: inline-block;
        transform: rotate(45deg);
        height: 7px;
        width: 4px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        position: absolute;
        left: 12px;
      }
    }
    &:first-of-type {
      border-left: none;
      border-radius: 4px 0 0 4px;
    }
  }
}
.trending-search-box {
  span {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2rem;
  }
  .trending-list {
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 8px 10px;
      border-radius: 4px;
      margin-left: 10px;
      background: #f2f2f2;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $color-gray;
        font-weight: 400;
      }
      span {
        color: $color-primary;
        font-size: 1rem;
      }
    }
  }
}
.search-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 216px;
  padding: 10px;
  opacity: 1;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.primaryBtn {
  border-radius: 34px;
  background: $color-btn-primary-bg;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);

  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
}
.blueDownArrow {
  @include blueDownArrow;
}
