.footnav-section,
main {
  background-color: #f2f2f2;
}
.footnav {
  width: 120rem;
  margin: 0 auto;
}
.footnav-header {
  margin-bottom: 1.2rem;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1rem;
  color: $color-black;
  text-transform: uppercase;
}
.footnav-list {
  margin-bottom: 2rem;
  line-height: 1.4rem;
  li {
    display: inline-block;
  }
  a {
    font-size: 1.25rem;
    color: $color-gray;
    font-weight: 400;
  }
}
/**
newsletter code
*/

.newsletter-section {
  width: 120rem;
  margin: 0 auto 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4.8rem;
  grid-row-gap: 3rem;
  background-color: #fff;
  padding: 2.5rem 4rem 4rem;
  border-radius: 1rem;

  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
}

.newsletter-card {
  gap: 1.2rem;
  .card-data h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
  }
  .card-data p {
    font-weight: 400;
  }
}
.newsletter-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f2f2f2;
}
/**
flight newsletter end
*/
/**
section forex promo start
*/
.forex-promo {
  width: 120rem;
  margin: 0 auto 3rem;
  border: solid 2px;
  padding: 0px 15px 0px 50px;
  object-fit: contain;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border-left: 40px solid;
  position: relative;
  min-height: 80px;
  margin-bottom: 20px;
  cursor: pointer;
}
.trip-image {
  width: 61px;
  height: 61px;
  position: absolute;
  left: -22px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
}
.promo-text-box {
  justify-content: center;
}
.promo-text {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.8rem;
  .latoRegular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
}
.forex-logo {
  width: 91px;
  height: 22px;
  background-position: -106px -559px;
  background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@23x.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 200px 700px;
  font-size: 0px;
  flex-shrink: 0;
}
.forex-rightarrow {
  margin-left: auto;
  font-weight: 900;
  line-height: 1.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $color-primary;
  .blueArrowIcon {
    margin-left: 1rem;
    background-position: -174px -86px;
    width: 24px;
    height: 10px;
    background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@23x.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 200px 700px;
    font-size: 0px;
  }
}
