.second-nav {
  height: 10rem;
  width: 60%;
  margin: 3rem auto 0;
  background-color: #fff;
  padding: 0.8rem 3rem;
  box-shadow: 0 2px 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
  top: 16%;
  z-index: 99;
}

.second-nav-list {
  gap: 4rem;
  li.active {
    position: relative;
  }
  li.active .secondNavText {
    font-size: 1.5rem;
    font-weight: 900;
    color: $color-primary;
  }
  li.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 0.33rem;
    background-color: #008cff;
    border-radius: 1rem;
    z-index: 2;
  }
}
.second-nav-link:link,
.second-nav-link:visited {
  display: flex;
  flex-direction: column;
  max-width: 7.2rem;
  text-decoration: none;

  font-weight: 500;
  font-size: 1.8rem;
}
.icon {
  &-second-nav {
    background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/B2CHeaderSprite.png) !important;
    background-repeat: no-repeat;
    background-size: 26rem 40rem;
  }
  &-wrapper {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-bottom: 4px;
    width: 52px;
    position: relative;
  }
  &-flight {
    background-position: -5px -44px;
    height: 32px;
    width: 42px;
  }

  &-hotels {
    background-position: -60px 0;
    height: 40px;
    width: 36px;
  }
  &-homestays {
    background-position: -57px -83px;
    height: 37px;
    width: 44px;
  }
  &-holiday {
    background-position: -109px -4px;
    height: 33px;
    width: 42px;
  }
  &-trains {
    background-position: -156.5px -3px;
    height: 37px;
    width: 47px;
  }
  &-buses {
    background-position: -210.5px -2px;
    height: 36px;
    width: 43px;
  }
  &-cabs {
    background-position: -110px -82px;
    height: 37px;
    width: 39px;
  }
  &-forex {
    background-position: -167px -83px;
    height: 34px;
    width: 30px;
  }
  &-insurance {
    background-position: -221px -86px;
    height: 29px;
    width: 25px;
  }

  &-insurance,
  &-forex {
    &::before {
      content: 'NEW';
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      color: #fff;
      background: linear-gradient(45deg, #ec2127, #ec2127);
      font-size: 1rem;
      font-weight: 600;
      top: -1.3rem;
      border-radius: 0.8rem;
      padding: 0.2rem 0.6rem;
    }
  }
}
.secondNavText {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #4a4a4a;
}
.hide-stickynav {
  transform: translate3d(0, -155%, 0);
}
.show-stickynav {
  animation: slideInDown 0.2s linear;
  transform: translate(0%, -30%);
}
.sticky-nav-container {
  margin: 0 auto;
  width: 120rem;
  padding: 1rem 0 1.2rem;
}
.sticky-nav {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;

  border-radius: 0;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);

  li.active .secondNavText {
    font-size: 1.4rem;
    font-weight: 700;
  }
  li.active::after {
    display: none !important;
  }
  .second-nav-link:link,
  .second-nav-link:visited {
    font-size: 1.2rem;
    line-height: 1.4rem;
    align-items: center;
  }
  .second-nav-list {
    gap: 1rem;
    padding-right: 20rem;
  }

  .icon {
    &-second-nav {
      background-size: 156px 240px;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.4rem;
      margin-bottom: 4px;
      width: 3.1rem;
    }
    &-flight {
      background-position: -3px -2.5px;
      // background-position: -3px -26.5px; //active
      height: 20px;
      width: 25px;
    }

    &-hotels {
      background-position: -36.5px 0;
      height: 24px;
      width: 21.5px;
    }
    &-homestays {
      background-position: -34px -50px;
      height: 22px;
      width: 26.4px;
    }
    &-holiday {
      background-position: -65px -2.2px;
      height: 20px;
      width: 25px;
    }
    &-trains {
      background-position: -94px -1.8px;
      height: 22px;
      width: 28px;
    }
    &-buses {
      background-position: -126px -1.2px;
      height: 21.6px;
      width: 25.8px;
    }
    &-cabs {
      background-position: -66px -49px;
      height: 22.2px;
      width: 23.4px;
    }
    &-forex {
      background-position: -100px -50px;
      height: 20px;
      width: 18px;
    }
    &-insurance {
      background-position: -126px -46.7px;
      height: 29px;
      width: 25px;
    }

    &-insurance,
    &-forex {
      &::before {
        display: none;
      }
    }
  }
  .secondNavText {
    font-size: 1.2rem;
    line-height: 15px;
  }
  .logoContainer {
    display: flex;
    font-size: 1.4rem;
    margin-right: 25px;
    min-width: 120px;
    .chMmtLogo {
      display: inline-block;
      height: 36px;
      width: 113px;
      img {
        width: 100%;
      }
    }
  }
  .login-prompt-container {
    .userInfoBoxLabel {
      font-weight: 900;
      background-image: linear-gradient(45deg, #ace143, #219393);
      border-radius: 50%;
      height: 25px;
      padding: 6px;
      width: 25px;
    }
    .chLoggedOutLogo {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-color: transparent;
      background-position: -177px -350px;
      background-size: 260px 400px;
      background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/B2CHeaderSprite.png) !important;
      background-repeat: no-repeat;
    }
    .login-prompt-text {
      line-height: 1.2rem;
      font-size: 1.1rem;
    }
  }
  .login-container-wrapper {
    gap: 2.4rem;
  }
  .ccchangelist {
    .india-flag {
      background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/flagSprite2.png);
      background-repeat: no-repeat;
      background-size: 16px 74px;
      background-position: 0 0;
      height: 12px;
      width: 15px;
      margin-right: 0.33rem;
    }
    li {
      gap: 0.4rem;
      font-size: 1rem;
    }

    .arrowdown {
      border-bottom: 0;
      border-right: 2px solid #008cff;
      border-top: 2px solid #008cff;
      display: inline-block;
      height: 5px;
      margin: 0 10px;
      padding: 2px;
      width: 5px;
      transform: rotate(135deg) skew(7deg, 7deg);
    }
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, -30%, 0);
  }
}
