*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Mukta', 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #fff;
  color: $color-gray;
}
.container {
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 58.5rem;
  min-height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.font-light {
  font-weight: 400;
}
.text-dec-none {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.slide-desc {
  flex: 1;
  line-height: 1.8rem;
  font-size: 1.6rem;
}
